@import './utilities/colors.scss';

g.active > path.bright { animation: to-paint-bright 1s infinite; }
g.active > path.main { animation: to-paint-main 1s infinite; }
g.active > path.dark { animation: to-paint-dark 1s infinite; }

@keyframes to-paint-bright {
  0%, 100% { fill: white; }
  50% { fill: lightgray; }
}

@keyframes to-paint-main {
  0%, 100% { fill: lightgray; }
  50% { fill: darkgray; }
}

@keyframes to-paint-dark {
  0%, 100% { fill: darkgray; }
  50% { fill: #666; }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: unset;
}

/* Navigation related classes */

.pc-nav {
  overflow: hidden;
  background-color: $pk-color;
  padding: 10px 0;

  > ul {
    margin: unset;
    list-style-type: none;
    padding: unset;

    > li {
      padding: 0 10px;
      float: left;
      transition: color 0.3s;

      &:hover {
        color: white;
      }
    }
  }
}

/* End navigation related classes */

.pc-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.pc-card {
  width: 200px;
  height: 250px;
  padding: 1em;
  margin: 1.5em;
  border-radius: 8px;
  cursor: pointer;

  // shadow
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.4); 
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.4);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,2,0.8); 
    box-shadow: 0px 1px 15px 1px rgba(0,0,2,0.8);
  }

  img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }

  &__index, &__name {
    display: block;
    text-align: center;
    margin-top: .2em;
  }
}

.loading-gradient {
  background: linear-gradient(312deg, #ffffff, #d5d5d5);
  background-size: 400% 400%;

  -webkit-animation: Loading 1.5s ease infinite;
  -moz-animation: Loading 1.5s ease infinite;
  animation: Loading 1.5s ease infinite;
}

@-webkit-keyframes Loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes Loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}